@model NoteListModel
@{
    ViewData["Title"] = "ProductList";
}

<h1>ProductList</h1>


@if (Model.Notes.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Başlık</th>
                <th scope="col">Yayınlanma Tarihi</th>
                <th scope="col">Beğeni Sayısı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Notes)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Title</td>
                    <td>@item.Text</td>
                    <td>@item.LikeCount</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h4>Not Bulunamadı</h4>
    </div>
}
