
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <p>
                        Copyright &copy; @DateTime.Now.Year Note To Universe
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>