@model Note

<div class="col-md-8">
    <div class="product-item">

        <a href="#"><img src="assets/images/product_01.jpg" alt=""></a>
        <div class="down-content">
            <a href="#"><h4>user name @Model.Title</h4></a>
            <h6>@Model.ModifiedUserName</h6>
            <p>@Model.Text</p>
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <span>@Model.Comments.Count</span>
        </div>
    </div>
</div>